<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Baseball Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <!--CSS Link-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  
  
  <link rel="icon" href="{{url_for('static', filename='images/baseball.png')}}">
</head>

<body>
    <!-- Navigation Section -->
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" style="background-color: #0BADA6;" href="index.html">Home</a>
      <button class="navbar-toggler border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
       <!-- class="collapse navbar-collapse" id="navbarNavDropdown"> -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="leaflet.html">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="chart.html">Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">Data</a>
          </li>
        </ul>
       </div>
       <div class="logo" style = " position:sticky; left:100%; width:35px; height: 35px;">
        <img src="{{url_for('static', filename='images/baseball-svgrepo-com.svg')}}"/>
        </div>
      </nav>
  </div>

  <!-- Content Section -->
  <div class="container" >
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <!-- Left box  -->
        <div class="box">
          <h3 class="title">Baseball Visualization Project</h3>
          <hr>
          <!-- <img src="mlb teams.png" class="vizualization rounded float-right" alt="Max Temperature Graph"> -->
          <p>The purpose of this project was to create a few visualizations that could help with analyzing MLB baseball data. We created a map that shows the location of all the MLB teams and their home attendance tickets sales thru out the years.  Also, we created an interactive line chart that compares a team’s attendance with their wins and losses over time.</p>
         
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <!-- Right Box -->
        <div class="box">
          <h5 class="title">Visualizations</h5>
          <hr>
          <div class="container">
            <div class="row" style="padding-bottom: 30px;">
              <div class="col-6">
                <a href="leaflet.html">
                    <small>Stadiums Map</small>
                  <img class="panel" src="{{url_for('static', filename='images/map.png')}}" alt="Stadiums Map">
                </a>
              </div>
              <div class="col-6">
                <a href="chart.html">
                    <small>Interactive Chart</small>
                  <img class="panel" src="{{url_for('static', filename='images/linegraph.png')}}" alt="line Graph">
                </a>
              </div>
            </div>      
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <footer>
    <div class="footer">Copyright &copy; Team MJSD Project 2</div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <!-- <script type="text/javascript" src="../static/js/app.js"></script> -->


</body>

</html>